@model DbaRC.Models.Setting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">

<div class="container body-content">

<h4>Details</h4>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script src="~/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/static/scripts/bootstrap.min.js"></script>
    <script src="~/static/scripts/respond.min.js"></script>
}
