@model IEnumerable<WebApplication8.Models.Session>

@{
    ViewData["Title"] = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Активные сессии</h4>
<br />

<table class="table table-bordered table-condensed table-hover">
    <thead> <tr><th>дд чч:мм:сс.мсс</th><th>БД</th><th>ИД Сессии</th><th>Имя сервера</th><th>Логин</th><th>ИД блокирующей сессии</th><th>Кол-во заблокированных сессий</th><th>Информация о блокировке</th><th>Программа</th><th>CPU</th><th>Логических чтений</th><th>Физических чтений</th><th>Записей</th><th>SQL пакет</th>	<th>SQL запрос	</th><th>План запроса</th><th>Статус</th><th>Процент выполнения</th></tr> </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-rowid="@Html.DisplayFor(modelItem => item.SessionId)">
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatabaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlockingSessionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlockedSessionCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaitInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalReads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writes)
                </td>
                <td>
                    <a href="#sqlText-51" rel="nofollow" class="modalbox">Просмотр</a>
                    @*@Html.ActionLink("Просмотр", "ShowSqlCommand", null, "SqlCommand-" + item.SessionId, new { @class = "modalbox" })*@
                    @*@Html.DisplayFor(modelItem => item.SqlCommand)*@
                </td>
                <td>
                    @Html.ActionLink("Просмотр", "ShowSqlText")
                    @*@Html.ActionLink("Просмотр", "ShowSqlText")*@
                </td>
                <td>
                    @Html.ActionLink("Скачать", "ShowQuery")
                    @*@Html.ActionLink("Скачать", "DownloadQueryPlan")*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentComplete)
                </td>
            </tr>
        }
    </tbody>
</table>


@foreach (var item in Model)
{
    <div id="SqlCommand-@Html.DisplayFor(modelItem => item.SessionId)" style="display:none">@Html.DisplayFor(modelItem => item.SqlCommand)</div>

}

@foreach (var item in Model)
{
    <div id="SqlSqlText-@Html.DisplayFor(modelItem => item.SessionId)" style="display:none">@Html.DisplayFor(modelItem => item.SqlText)</div>
}



